<h3>A propos</h3>
<p>Cet exemple de blog est un exercice pour le cours Ruby on Rails de Open Classrooms.
   <br/>Il reste de nombreuses fonctions à implémenter, comme une classe User et un système
   d'authentification pour poster les commentaires, ainsi qu'un système d'administration.</p>
